@font-face {
  font-family: 'Overlock SC';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock SC'), local('OverlockSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/overlocksc/v3/cFrEOzZWUct6fhBu_bFdkrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
